{% extends 'base.html.twig' %}

{% block title %}Hello jobController!{% endblock %}

{% block body %}

<div class="row text-center">
    {% for job in jobs %}
        {% include "partials/_job_show.html.twig" %}
    {% endfor %}
</div>



{% endblock %}