{% extends 'base.html.twig' %}

{% block title %}Hello PageControlerController!{% endblock %}

{% block body %}
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="images/logo-jobiz.png" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold text-body-emphasis">our job field</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Embarking on a career in the ever-evolving and dynamic field of Information Technology (IT) opens up a world of opportunities. Whether you're a seasoned professional seeking new challenges or a recent graduate eager to kickstart your journey, finding the right job in the IT field requires strategic planning, networking, and a clear understanding of your goals. In this guide, we'll walk you through the essential steps to help you find your dream job in the IT industry.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Select job</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Back to home</button>
    </div>
  </div>
</div>
{% endblock %}
