{% extends 'base.html.twig' %}

{% block title %}Hello PageControlerController!{% endblock %}

{% block body %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/logo-jobiz.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">FIND YOUR JOB IN IT</h1>
        <p class="lead">Welcome to Jobiz, your ultimate destination for navigating the dynamic landscape of the IT job market. Whether you're a seasoned professional looking for your next career leap or a fresh graduate eager to kickstart your journey in the tech industry, we've got you covered.

          At Jobiz, we understand that the IT sector is constantly evolving, and so are the demands of employers. That's why we provide a comprehensive platform where top talent meets top companies. Our website offers a wide array of resources and features tailored to help you find your dream job in IT.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Latest Jobs</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis"> Web Development</h3>
        <p>The web development field encompasses the practices and processes involved in creating websites and web applications for the internet or an intranet. It involves a range of tasks, including web design, web content development, client-side/server-side scripting, network security configuration, and e-commerce development.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis"> Data Science & Analytics</h3>
        <p>Data Science & Analytics is a multidisciplinary field that involves extracting insights and knowledge from structured and unstructured data through various techniques, methodologies, and tools. It combines elements of statistics, mathematics, computer science, domain knowledge, and business acumen to analyze complex datasets and make data-driven decisions. Here's an overview of key components within Data Science & Analytics.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Network & Security</h3>
        <p>Network & Security is a specialized field within information technology (IT) that focuses on designing, implementing, and maintaining secure computer networks and systems to protect against cyber threats, unauthorized access, data breaches, and other security risks. It encompasses a range of practices, technologies, and strategies aimed at safeguarding the confidentiality, integrity, and availability of data and resources. Here are key components within Network & Security.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">System Administration</h3>
        <p>System Administration, often abbreviated as sysadmin, is the practice of managing and maintaining the operation, configuration, and security of computer systems, servers, networks, and software applications within an organization. System administrators, also known as sysadmins or IT administrators, are responsible for ensuring the reliability, availability, and performance of IT infrastructure to support business operations effectively. Here are key components within System Administration.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>

{% endblock %}
